* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3);
  border: 1px solid black;
}

.text-sec {
  width: 90%;
}

.actor-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.birth-year {
  color: grey;
}

.first-sec {
  width: 50%;
}

.second-sec {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-sec>h2 {
  padding-bottom: 1rem;
}

.second-sec>p {
  padding-bottom: 0.5rem;
}

.btn {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #6200ee;
  line-height: 1.15;
  font-size: 14px;
  height: 36px;
  word-spacing: 0px;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 1rem;
}

.btn:hover {
  background: rgb(98, 0, 238);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}